@charset "UTF-8";
/* font
   ========================================================================== */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "¥Ò¥é¥®¥Î½Ç¥´ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  color: #655858; }

/* common
   ========================================================================== */
figure img {
  max-width: 100%; }

/* music
   ========================================================================== */
#music {
  margin-top: 100px; }

#video {
  padding-bottom: 0; }

/* item
   ========================================================================== */
.item {
  margin-bottom: 30px;
  text-align: left; }
  .item .thumbnail {
    display: block;
    position: relative;
    cursor: pointer; }
    .item .thumbnail i {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 80px;
      height: 80px;
      color: transparent;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      border-radius: 50%;
      padding-left: 5px; }
    .item .thumbnail:hover i {
      color: black;
      background: rgba(255, 255, 255, 0.8); }
    .item .thumbnail img {
      max-width: 100%;
      height: auto; }
  .item#playing i {
    color: black;
    background: rgba(255, 255, 255, 0.8); }
  .item h3 {
    margin: 10px 0 0; }

/* controller
   ========================================================================== */
#controller {
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  opacity: .8;
  z-index: 10;
  font-size: .8em;
  border-top: 1px solid #ccc; }
  #controller .thumbnail {
    width: 50px;
    height: 50px;
    background: #000; }
  #controller .progress {
    border: 2px solid white;
    background: #ccc; }
